#!/usr/bin/env xdg-open
[Desktop Entry]
Version=1.0
Terminal=false
Type=Application
Name=Plataforma DevOps Pro
Exec=/opt/google/chrome/google-chrome --profile-directory=Default --app-id=pdiilemhcfbaolckfpbecoencddepopp
Icon=chrome-pdiilemhcfbaolckfpbecoencddepopp-Default
StartupWMClass=crx_pdiilemhcfbaolckfpbecoencddepopp
