#!/usr/bin/env xdg-open
[Desktop Entry]
Version=1.0
Terminal=false
Type=Application
Name=Dio
Exec=/opt/google/chrome/google-chrome --profile-directory=Default --app-id=nedccleifieibdigkhciodhmbibkhlje
Icon=chrome-nedccleifieibdigkhciodhmbibkhlje-Default
StartupWMClass=crx_nedccleifieibdigkhciodhmbibkhlje
